git+https://github.com/astronomy-commons/hipscat.git@add-arrow-schema-to-catalog
git+https://github.com/astronomy-commons/hipscat-import.git@read-parquet-with-schema
git+https://github.com/astronomy-commons/lsdb.git@add-arrow-schema